* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div {
  display: inline-block;
  width: 200px;
  height: 400px;
}

.div1 {
  background-color: bisque;
}

.div2 {
  background-color: red;
}

.div3 {
  background-color: blue;
}

.div4 {
  background-color: purple;
  background-image: url(./sun.png);
  background-repeat: repeat-x;
}
