html:focus-within {
  background-image: url(../img/patron.png);
  background-repeat: repeat;
  background-position: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  margin-bottom: 40px;
}

.enlace {
  display: block;
  background-color: rgb(43, 43, 43);
  color: white;
  text-decoration: none;
  padding: 20px;
  border-bottom: 3px solid white;
}

.enlace:link {
  background-color: green;
  color: rgb(63, 0, 163);
}

.enlace:visited {
  background: rgb(7, 212, 212);
  color: black;
}

.enlace:hover {
  padding: 40px 20px;
  transition: 0.7s;
}

.enlace:active {
  background: blue;
  color: white;
}

.event {
  display: inline-block;
  margin-top: 30px;
  margin-left: 20px;
  background: red;
  color: white;
  text-decoration: none;
  padding: 20px;
}

.event:active {
  padding: 30px;
}

.box {
  width: 100px;
  height: 100px;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 50px;
  background-color: aqua;
  transition: 0.3s;
}

.box:target {
  margin-left: 200px;
  border: 10px solid black;
}

.parrafo-editable {
  width: 70vw;
  margin: 40px auto;
  text-align: center;
}

.form {
  width: 80%;
  margin: 20px auto;
  padding: 30px;
  background-color: aliceblue;
  box-shadow: 0 2px 6px black;
}

.form:focus-within {
  background: rgba(189, 189, 197, 0.507);
}

.form__title {
  text-align: center;
  margin-bottom: 20px;
}

input {
  display: block;
}

input:focus {
  background: rgba(100, 148, 237, 0.349);
  color: rgb(27, 131, 223);
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 12px 5px;
  margin-bottom: 20px;
  border: none;
  /* outline: none; */
}

input[type="checkbox"] {
  display: inline-block;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.534);
  background-color: rgba(16, 12, 230, 0.527);
}

h3 {
  font-size: 2rem;
  font-weight: normal;
  font-family: "Arial";
  text-align: center;
  margin-bottom: 30px;
}

h3:not(.title) {
  color: red;
}

h3.title:hover {
  color: aqua;
}

h3:not(:hover) {
  text-decoration: underline;
  color: blue;
}
h3:not(:focus):not(.title) {
  background-color: beige;
}
