@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(58, 160, 250);
  font-family: "New Amsterdam", sans-serif;
}

.container {
  background-color: #ffffff;
  width: 75%;
  height: auto;
  margin: 30px auto;
  padding: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.h1 {
  text-align: center;
}

.copy {
  /* letter-spacing: 3px;
  word-spacing: 20px; 
  text-transform: uppercase - capitalize;
  text-shadow: 3px 1px 10px yellow; 
  line-height: 40px;*/
  padding: 10px 0;
}

.img {
  width: 250px;
}

.bold {
  color: crimson;
  font-weight: bold;
  font-size: 10px;
  font-style: oblique;
}

.enlace {
  /* text-decoration: overline line-through underline; */
  text-decoration-style: wavy;
  text-decoration: crimson;
  text-decoration: none;
  border: 1px solid;
  padding: 10px 30px;
}

.card {
  background-image: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.432)),
    url(../img/japon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 600px;
  font-size: 20px;
  margin: 0 auto;
  padding: 10px 20px 0 20px;
  background-color: black;
  box-shadow: 1px 1px 5px black;
  border-radius: 10px;
  color: white;
}

.title {
  padding: 5px 5px;
  border-bottom: 3px solid #ffffff;
}

.text {
  text-transform: lowercase;
  margin-top: 20px;
  line-height: 1.2;
  padding: 10px 2px;
}

.font {
  color: rgb(0, 0, 0);
  background-color: aliceblue;
  padding: 0 4px;
}

.cta {
  display: block;
  width: 180px;
  margin: 11px auto;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  color: rgb(0, 255, 34);
  border: 5px solid rgb(0, 252, 13);
  border-radius: 3px;
}

.cta:hover {
  color: white;
  border-color: white;
}
