* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img {
  display: block;
  width: 400px;
  margin: 30px auto;
  box-shadow: 0px 0px 30px 10px rgba(190, 11, 47, 0.712);
}

.img2 {
  display: block;
  width: 400px;
  margin: 30px auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.75);
}

.box {
  width: 200px;
  height: 200px;
  margin: 30px;
  background-color: aquamarine;
  border: 1px solid black;
  color: blueviolet;
  /* box-shadow: h-offset v-offset blur spread color; */
  /* box-shadow: Desplazamiento-H Desplazamiento-V Difuminado Dispersamiento color; */
  /* box-shadow: 10px 10px 9px 2px currentColor; */
  box-shadow: 10px 10px 9px 2px;
  /* La sombra cambiara su color dependiendo del color asignado en el contenido o cambiara de color al asignarle un color en sus valores */
}

.box1 {
  width: 150px;
  height: 150px;
  background-color: black;
  margin: 0 30px;
  box-shadow: 150px 0 burlywood, 150px 150px, 0 150px burlywood;
}

/* ---------------------------- */
.card {
  margin: 180px auto;
  padding: 0 0 15px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 5px 6px 11px 0px rgba(20, 18, 20, 0.75);
}

.img3 {
  display: block;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
  width: 100%;
  height: 180px;
}

.contenedor {
  margin: 0 auto;
  width: 80%;
}

.title {
  color: #a60909;
  text-align: center;
  margin: 20px 0 10px;
}

.copy {
  text-align: center;
}

.cta {
  display: block;
  width: 40%;
  margin: 10px auto;
  background-color: #a60909;
  color: azure;
  padding: 13px 0;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
}

.goku {
  display: block;
  object-fit: cover;
  width: 350px;
  margin: 10px auto;
  /* drop-shadow(h-offset v-offset blur color)
  drop-shadow(desplazamientoH desplazamientoV Difuminado color) */
  filter: drop-shadow(0 0 50px yellow);
}

.face {
  display: block;
  width: 310px;
  object-fit: cover;
  margin: 10px auto;
  filter: drop-shadow(1px 1px 20px rgba(255, 192, 203, 0.616));
}

.wolf {
  display: block;
  width: 310px;
  object-fit: cover;
  margin: 10px auto;
  filter: drop-shadow(0 0 40px rgb(90, 88, 88));
}
