body {
  margin: 0;
}

.box {
  width: 200px;
  height: 200px;
}

.box1 {
  background-color: cornflowerblue;
  /* *margin: top right bottom left (4 valores) */
  /* margin: 10px 0px 0px 100px; */
  /* *margin: top right bottom automatic-left (right) (3 valores) */
  /* margin: 10px 40px 8px; */
  /* *margin: top - bottom (2 valores)*/
  /* margin: 40px 80px; */
  /* *margin: all (1 valor)*/
  /* margin: 20px; */
  /* ---------- */

  /* *Centrar elementos */
  /* margin: auto; */
  width: 100%;
  margin-bottom: 50px;
  padding: 0.1px;
}

.header {
  background-color: gold;
  height: 40px;
  margin-top: 40px;
}

.box2 {
  background: tomato;
  margin-top: 80px;
  /* opacity: 0.5;
  margin-top: -20px; */
}
