* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  color: blue;
  padding: 20px 0;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  /* El valor de la transpariencia es de 0 - 1 
  El valor de los colores en rgb es de 0 - 255*/
}

.title {
  text-align: center;
}

.title2 {
  text-align: center;
  color: #ff0000;
  /* Los valores son en pares */
}

.title3 {
  text-align: center;
  color: hsl(100, 90%, 50%);
  /*  */
}
